@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", serif;
}
.navbar{
    width: 100%;
    background-color: #1e94fcd3;
}
.navbar .container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .container .logo{
    width: 200px;
    padding: 20px 30px;
    color: white;
    font-size: 20px;
    font-weight: 600px;
}
.navbar .nav-navbar{
    display: flex;
    list-style: none;
}
.navbar .nav-navbar .nav-link{
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
}
.hero-banner {
    width: 100%;
    background-color: #2944bd;
}
.hero-banner .container{
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 200px 50px;
}
.hero-banner .container h2{
    font-size: 40px;
    font-weight: 700px;
    color: white;
}
.hero-banner .container p{
    font-size: 18px;
    font-weight: 600px;
    color: white;
}
.sec-1{
    width: 100%;
    background-color: #a2d6f9;
}
.sec-1 .container{
    width: 1200px;
    margin: auto;
}
.sec-1 .container .row{
    display: flex;
    flex-wrap: wrap;

}
.sec-1 .container .col-4{
    padding: 15px;
}
.sec-1 .container .col-4 .card{
    width: 360px;
    height: 170px;
    background-color: #2944bd;
    border-radius: 10px;
}
.sec-1 .title{
    padding: 25px 10px;
}
.sec-1 .title h3{
    color: white;
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 10px;
}
.sec-1 .title p{
    color: white;
    font-size: 16px;
    font-weight: 300px;
}